<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854017356972-6f5poseinf524kpno5hdjhk87oprcpfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854017356972-6f5poseinf524kpno5hdjhk87oprcpfm</string>
	<key>API_KEY</key>
	<string>AIzaSyAgT-tkWNjybS8Btp1t4qCUHATs4guU2ko</string>
	<key>GCM_SENDER_ID</key>
	<string>854017356972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fsociety</string>
	<key>PROJECT_ID</key>
	<string>fsociety-878ed</string>
	<key>STORAGE_BUCKET</key>
	<string>fsociety-878ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854017356972:ios:069ff8f5549862d5249b09</string>
</dict>
</plist>